@import url('https://fonts.googleapis.com/css?family=Aclonica|Noto+Sans+SC:400,700,900&display=swap');

* {
    box-sizing: border-box;
    font-family: Noto Sans SC;
}

body {
    margin: 0;
    padding: 0;
    color: #202020;
}

.die {
    background-image: url("./img/dice-sheet.png");
    background-size: 300%;
    background-position-x: 0%;
}

.die.d4  { background-position-y: 0%; }
.die.d6  { background-position-y: 20%; }
.die.d8  { background-position-y: 40%; }
.die.d10 { background-position-y: 60%; }
.die.d12 { background-position-y: 80%; }
.die.d20 { background-position-y: 100%; }

h1 {
    font-family: Aclonica;
    font-size: 70px;
    text-align: center;
    height: 70px;
    margin: 40px 0 40px 0;
}

h1 span {
    width: 51px;
    height: 51px;
    background-position: 0px 50px;
    display: inline-block;
    cursor: text;
    transform: rotate(30deg);
    position: relative;
    top: 4px;
    margin: 0 -3px;
}

main {
    display: flex;
    width: 100%;
    height: calc(100vh - 250px);
}

#dice {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dice > div {
    display: flex;
}

#dice .die {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#dice .die:hover  { background-position-x: 50%; }
#dice .die:active { background-position-x: 100%; }

#dice .die:hover::after {
    display: flex;
    font-family: Aclonica;
    font-size: 50px;
    color: #fff;
    opacity: 0.9;
    height: 100%; 
    align-items: center;
    justify-content: center;
    position: relative;
}

#dice .die.d4:hover::after  { content: '4'; top: 13px; right: 3px; }
#dice .die.d6:hover::after  { content: '6'; top: 5px; right: 2px; }
#dice .die.d8:hover::after  { content: '8'; top: 1px; }
#dice .die.d10:hover::after { content: '10'; top: -9px; }
#dice .die.d12:hover::after { content: '12'; top: 8px; }
#dice .die.d20:hover::after { content: '20'; top: 5px; }

#dice input {
    width: 100px;
    font-size: 30px;
    margin-top: 30px;
}

#set {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 3.5%;
    user-select: none;
}

#set > div {
    font-size: 35px;
    text-align: end;
    width: 230px;
    cursor: pointer;
    height: 65px;
}

#set span:first-child {
    font-size: 25px;
    position: relative;
    bottom: 4px;
}

#set .die {
    display: inline-block;
    width: 55px;
    height: 55px;
    position: relative;
    top: 14px;
}

#buttons {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons button {
    width: 80px;
    height: 80px;
    font-size: 50px;
    padding-bottom: 5px;
    line-height: 0;
}

#output {
    width: 30%;
}

#readout {
    overflow-y: scroll;
    white-space: pre-wrap;
    border: 1px solid #bdbdbd;
    padding: 7px;
    margin-right: 32px;
    height: 100%;
}

#readout hr {
    margin-left: 0;
    width: 100px;
}

#readout span.total {
    font-weight: 700;
}

#readout span.total span {
    font-weight: 900;
}

#options {
    height: 100px;
}